<section>
  <!-- <article>
    <h3>Interpolation/Interpolação</h3>
    <p>String renderizada com Interpolação: {{ url }}</p>
    <p>Resultado da soma de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado da soma de 1 + 1 não é: {{ 1 + 1 + getValor()}}</p>
    <p>Curso de Angular e Gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article>
    <h3>Property Binding</h3>
    <img src="{{ urlImagem }}" alt="">
    <br>
    <img [src]="urlImagem" alt="">  Property binding
    <br>
    <img bind-src="urlImagem" alt=""> Property binding de forma mais verbosa...
  </article>-->

  <!-- <div class="container">
    <article>
      <h3>Class e Style Binding</h3>
      <div class="">
        Selecione uma classe:
        <select #classe (change)="0">
          <option value="alert-success">Sucesso</option>
          <option value="alert-info">Info</option>
          <option value="alert-warning">Warning</option>
          <option value="alert-danger">Danger</option>
          <option value="alert-secondary">Secondary</option>
          <option value="alert-dark">Dark</option>
          <option value="alert-primary">Primary</option>
        </select>
        <br><br>
        <div class=" alert  {{ classe.value }}" role="alert">
          Texto alterado por combobox!
        </div>
        <br>
        <div class="alert " role="alert" [class.alert-success] = "classe.value == 'alert-success'">Sucesso</div>
        <div class="alert " role="alert" [class.alert-warning] = "classe.value == 'alert-warning'">Alerta</div>
        <div class="alert " role="alert" [class.alert-info] = "classe.value == 'alert-info'">Informação</div>
        <div class="alert " role="alert" [class.alert-danger] = "classe.value == 'alert-danger'">Erro</div>
        <div class="alert " role="alert" [class.alert-secondary] = "classe.value == 'alert-secondary'">Secondary</div>
        <div class="alert " role="alert" [class.alert-dark] = "classe.value == 'alert-dark'">Dark</div>
        <div class="alert " role="alert" [class.alert-primary] = "classe.value == 'alert-primary'">Primary</div>
      </div>
      <br>
      <div class="alert alert-primary" role="alert" [style.display] = "classe.value == 'alert-primary' ? 'block' : 'none'">Aparecer apenas se Primary</div>

    </article>
  </div> -->

  <article>
    <div class="container">
      <h3>Event Binding</h3>
      <br>
      <div>
        <button (click)="botaoClicado()"
        class="btn btn-primary">Me clique</button>
        <br><br>
        <input type="text"
        (keyup)="onKeyUp($event)"
        (keyup.enter)="salvarValor(compoInput.value)"
        (blur)="salvarValor(compoInput.value)"
        #compoInput>
        <br><br>
        <div class="alert alert-primary text-center text-capitalize" [style.display] = "valorAtual == '' ? 'none' : 'block'">Valor atual: {{ valorAtual }}</div>

        <div class="alert alert-danger text-center text-capitalize" [style.display] = "valorSalvo == '' ? 'none' : 'block'">Valor Salvo: {{ valorSalvo }}</div>
        <span (mouseover) ="onMouseOverOut()"
              (mouseout)  ="onMouseOverOut()"
              [class.highlight] = "isMouseOver">Passe o Mouse sobre mim!</span>
      </div>

    </div>
  </article>

</section>
